@font-face {
    font-family: titillium-semi;
    src: url('../font/titillium-semi.ttf');
}

@font-face {
    font-family: gotham;
    src: url('../font/gotham.otf');
}

.nav-link a:hover {
    border-bottom: 3px solid red !important;
}